.contentContainer {
  margin: 40px;
}

.collapseButton {
  width: 100%;
  background: rgb(212, 211, 228);
  border: none;
  padding: 16px;
  text-align: left;
  font-weight: bold;
  color: rgb(65, 62, 90);
  user-select: none;
  transition: all 0.2s;
}

.collapseButton:hover {
  background: rgb(199, 197, 219);
  color: rgb(40, 38, 59);
  transition: all 0.2s;
}

.collapseButton:focus {
  outline: 0;
}

.collapseContainer {
  border-bottom: 1px solid lightgray;
}